@model FMS_DEV.ViewModel.SeaExportFCLJobsViewModel

@{
    ViewBag.Title = "SeaExportFCLJob";
}

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="card">
                <!--Heading-->
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Sea-Export-FCL-Job</h4>
                    
                </div>



                <div class="card-body">

                    <form asp-action="Create" asp-controller="SeaExportFCLJobs">

                    <!--Job date -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Job Date</label>
                                <div class="col-md-9">

                                    <input asp-for="FCLJobs.FirstOrDefault().Date"  type="date" class="form-control" />
                                    <span asp-validation-for="FCLJobs.FirstOrDefault().Date" class="text-danger"></span>


                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Type Section Selection Start -->
                    <div class="row">
                            <label class="control-label text-left col-md-1">Type :</label>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="radio" id="FCL" name="JobType" value="FCL" checked />
                                                <label for="FCL">FCL</label>
                                            </div>

                                            <div class="col-md-4">
                                                <input type="radio" id="SOC" name="JobType" value="SOC" />
                                                <label for="SOC">SOC</label>
                                            </div>

                                            <div class="col-md-4">
                                                <input type="radio" id="CoLoad" name="JobType" value="Co-Load" />
                                                <label for="CoLoad">Co-Load</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br />
                    <!-- Type Section Selection End -->


                    <!-- Shipper,exchangerate,hadleby,sales person Start  -->
                    <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="selectedShippingLine" id="Label">Shipper</label> 
                                    </div>
                                    <div class="col-md-6">
                                        
                                        <select asp-for="FCLJobs.FirstOrDefault().ShipperID" id="selectedShippingLine" class="form-control" asp-items="ViewBag.Customers"></select>
                                    </div>
                                </div>
                            </div>


                        <div class="col-md-6">

                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Exchange Rate </label>
                                <div class="col-md-5">

                            
                                    <input asp-for="FCLJobs.FirstOrDefault().ExchangeRate" class="form-control text-right Exp-cost-colombo-input" />
                                    <span asp-validation-for="FCLJobs.FirstOrDefault().ExchangeRate" class="text-danger"></span>

                                </div>
                            </div>

                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="HandleBy">Handle By</label>
                                    </div>
                                    <div class="col-md-6">
                                       
                                        <select asp-for="FCLJobs.FirstOrDefault().HandleBy" id="HandleBy" class="form-control" asp-items="ViewBag.HandleBy"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="SalesPersonID">Sales Person</label>
                                    </div>
                                    <div class="col-md-6">
                                       
                                        <select asp-for="FCLJobs.FirstOrDefault().SalesPersonID" id="SalesPersonID" class="form-control" asp-items="ViewBag.SalesPerson"></select>
                                    </div>
                                </div>


                        </div>

                    </div>
                    <!-- Shipper,exchangerate,hadleby,sales person End  -->

                    <div class="line" style="border-top: 1px solid #999999;"></div>
                    <br />

                    <!--Shipping Line-->
                    <div class="row">
                        <div class="col-md-6"><h5 class="box-title"><b>Shipping Line</b></h5></div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="ShippingLineID" id="Label">Shipping Line</label> 
                                    </div>
                                    <div class="col-md-6">
                                        
                                        <select asp-for="FCLJobs.FirstOrDefault().ShippingLineID" id="ShippingLineID" class="form-control" asp-items="ViewBag.ShippingLines"></select> <!-- Updated `id` attribute -->
                                    </div>
                                </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">Master B/L </label>
                                <div class="col-md-5">


                                    <input asp-for="FCLJobs.FirstOrDefault().MasterBL" class="form-control text-right Exp-cost-colombo-input" />
                                    <span asp-validation-for="FCLJobs.FirstOrDefault().MasterBL" class="text-danger"></span>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!--vessel Details-->
                    <div class="row">
                        <div class="col-md-6"><h5 class="box-title"><b>Vessel Details</b></h5></div>
                    </div>

                    <div class="row">

                        <div class="col-md-3">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="VesselId" id="Label">Vessel</label> 
                                    </div>
                                    <div class="col-md-6">

                                        <select asp-for="FCLJobs.FirstOrDefault().VesselId" id="VesselId" class="form-control" asp-items="ViewBag.IntendedVessel"></select> <!-- Updated `id` attribute -->
                                    </div>
                                </div>

                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label for="Agent" id="Label">Voyage</label>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="FCLJobs.FirstOrDefault().Voyage" class="form-control" />
                                    <span asp-validation-for="FCLJobs.FirstOrDefault().Voyage" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-3">ETD </label>
                                <div class="col-md-5">

                                    <input asp-for="FCLJobs.FirstOrDefault().ETD" type="date" class="form-control" />
                                    <span asp-validation-for="FCLJobs.FirstOrDefault().ETD" class="text-danger"></span>
                

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="POD" id="Label">POD</label> 
                                    </div>
                                    <div class="col-md-6">
                                 
                                        <select asp-for="FCLJobs.FirstOrDefault().POD" id="POD" class="form-control" asp-items="ViewBag.POD"></select> <!-- Updated `id` attribute -->
                                    </div>
                                </div>

                        </div>

                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="control-label text-left col-md-2">ETA </label>
                                <div class="col-md-6">

                                    <input asp-for="FCLJobs.FirstOrDefault().ETA" type="date" class="form-control" />
                                    <span asp-validation-for="FCLJobs.FirstOrDefault().ETA" class="text-danger"></span>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-3"></div>

                    </div>

                    <br />


                    <!--BL Type Start-->
                    <div class="row">
                            <label class="control-label text-left col-md-1">B/L Type :</label>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- Corrected 'name' attribute to 'BLType' -->
                                                <input type="radio" id="DirectBL" name="BLType" value="DirectBL" checked />
                                                <label for="DirectBL">Direct B/L</label>
                                            </div>
                                            <div class="col-md-4">
                                                <!-- Corrected 'name' attribute to 'BLType' -->
                                                <input type="radio" id="HBL" name="BLType" value="HBL" />
                                                <label for="HBL">HBL</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br />
                    <!--BL Type End-->



                    <div class="row">

                        <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label for="AgentId" id="Label">Agent</label> <!-- Updated `for` attribute -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Corrected `asp-for` and removed conflicting `name` attribute -->
                                        <select asp-for="FCLJobs.FirstOrDefault().AgentId" id="AgentId" class="form-control" asp-items="ViewBag.AgentIDNomination"></select> <!-- Updated `id` attribute -->
                                    </div>
                                </div>

                        </div>

                        <div class="col-md-6"></div>

                    </div>

                    <br />
                    <div class="line" style="border-top: 1px solid #999999;"></div>
                    <br />

                    <!--table and remarks-->
                    <div class="row">

                        <div class="col-md-5">
                                <div class="form-group row">
                                    <h4>Container Details</h4>
                                    <table id="containerDetailsTable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Container No</th>
                                                <th>Size</th>
                                                <th>SealNo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Initial row template for other expenses -->
                                            <tr>
                                                <td><input type="text" class="form-control text-right" name="FCLJobs[0].Containers[0].ContainerNo" /></td>
                                                <td><input type="text" class="form-control text-right" name="FCLJobs[0].Containers[0].Size" /></td>
                                                <td><input type="text" class="form-control text-right" name="FCLJobs[0].Containers[0].Seal" /></td>
                                                <td><button type="button" class="btn btn-danger removeRow">Remove</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" id="addContainerRow" class="btn btn-success">+ Container</button>
                                </div>

                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-5">

                            <div class="form-group row">
                                <h6 class="box-title">Remarks</h6>
                                <div class="col-md-12">
                                    <textarea asp-for="FCLJobs.FirstOrDefault().Remarks" class="form-control" name="Remarks" type="text" placeholder="Type here your Remarks" rows="5"> </textarea>
                                    <span asp-validation-for="FCLJobs.FirstOrDefault().Remarks" class="text-danger"></span>

                                </div>
                            </div>

                        </div>
                    </div>

                    <br />


                        <!-- Save Button -->
                        <div class="form-group">
                            <input type="hidden" name="dtlItemsList" id="dtlItemsList" />
                            <input type="submit" value="Create" class="btn btn-primary" onclick="submitForm(this)" />
                        </div>


                     </form>

                </div>
            </div>

        </div>



    </div>
</div>








@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Add new row for "Containers"
        $('#addContainerRow').click(function () {
            var rowCount = $('#containerDetailsTable tbody tr').length;
            var newRow = `<tr>
                                    <td><input type="text" class="form-control text-right" name="FCLJobs[0].Containers[${rowCount}].ContainerNo" /></td>
                                    <td><input type="text" class="form-control text-right" name="FCLJobs[0].Containers[${rowCount}].Size" /></td>
                                    <td><input type="text" class="form-control text-right" name="FCLJobs[0].Containers[${rowCount}].Seal" /></td>
                                    <td><button type="button" class="btn btn-danger removeRow">Remove</button></td>
                                  </tr>`;
            $('#containerDetailsTable tbody').append(newRow);
        });

        // Remove a row from "Containers"
        $(document).on('click', '.removeRow', function () {
            $(this).closest('tr').remove();
        });

        // Calculate totals on form submission
        $('form').submit(function () {
            var containers = [];
            $('#containerDetailsTable tbody tr').each(function () {
                var containerNo = $(this).find('input[name$=".ContainerNo"]').val();
                var size = $(this).find('input[name$=".Size"]').val();
                var seal = $(this).find('input[name$=".Seal"]').val();
                if (containerNo && size && seal) {
                    containers.push({ ContainerNo: containerNo, Size: size, Seal: seal });
                }
            });

            // Correct hidden input ID
            $('#dtlItemsList').val(JSON.stringify(containers));
        });

    </script>

    <script>
        // Create and submit Charge Items

        function submitForm(e) {

            const dtlItemsArray = [];
            const tableRows = $("#tblContainer tbody tr");
            var chkAmount = "";

            tableRows.each(function (index) {
                //alert("Test in tbl ROW");
                const trRow = $(this);
                chkAmount = trRow.find('input[name="Amount"]').val();
                // Check if chkAmount is empty or zero
                if (chkAmount === "" || parseFloat(chkAmount) === 0) {
                    // chkAmount is empty or zero
                    //console.log("chkAmount is empty or zero");
                } else {
                    // chkAmount is not empty and not zero
                    const dtlItemJson = buildItemsJson(trRow, index);
                    dtlItemsArray.push(dtlItemJson);
                }
            });
            $("#dtlItemsList").val(JSON.stringify(dtlItemsArray));
        }
        // Json Var create
        function buildItemsJson(trRow, id) {
            return {
                SerialNo: id,
                // Currency: trRow.find('select[name="Currency"]').val(),
                ContainerNo = $(this).find('input[name$=".ContainerNo"]').val(),
                Size = $(this).find('input[name$=".Size"]').val(),
                Seal = $(this).find('input[name$=".Seal"]').val(),
            };
        }
    </script>
}







